body{
    background-color: #2E2E2E;
    font-family: Inter;
    margin: 0px;
    height: 100vh;
    display: grid;
    grid-template-rows: 210px 1fr;
}
h1{
    color: #E2E2E2;
    font-size: 32px;
}
h2{
    color: #C2C2C2;
    font-size: 18px;
}
p{
    color: #A2A2A2;
    font-size: 12px;
}

/* TABS */

#tabs{
    direction: ltr;
    list-style-type:none ;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#tabs img{
    width: 64px;
    height: 64px;
    margin: 0px 10px 0px 10px;
}
.tab a{
    text-decoration: none;
    display: flex;
    flex-direction: row;
}
.tab.active a h3{
    font-size: 48px;
    color: #E2E2E2;
    margin: 0px;
    margin-top: 5px;
    font-weight: normal;
}


/* HEADER */

#header{
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-column-gap: 200px;
    margin: 30px;
    align-items: center;
    justify-content: space-between;
}



/* INPUT */
.input_style {
    height: 40px;
    width: 300px;
    font-size: 20px;
    appearance: none;
    border: none;
    outline: none;
    border-bottom: .2em solid rgb(255, 255, 255);
    background: rgba(0,0,0,0);
    border-radius: 10px 10px 0 0;
    padding: .4em;
    color: rgb(255, 255, 255);
}
#form{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    background-color: #1e1e1e;
    border-radius: 16px;
    width: 700px;
    height: 400px;
}
#form form{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
#form form span{
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#form form .button{
    margin-top: 5px;
    border: solid #f2c70d 5px;
    border-radius: 35px; 
    background-color: transparent;
    height: 40px;
    width: 85px;
    font-weight: 500;
}
#form form .button[type='submit']{
    background-color: #f2c70d;
    color: #1e1e1e;
}
#form form .button[type='button']{
    background-color: transparent;
    color: #E2E2E2;
}