body{
    background-color: #2E2E2E;
    font-family: Inter;
    margin: 0px;
    height: 100vh;
    display: grid;
    grid-template-rows: 210px 1fr;
    overflow: hidden;
}
h1{
    color: #E2E2E2;
    font-size: 32px;
}
h2{
    color: #C2C2C2;
    font-size: 18px;
}
p{
    color: #A2A2A2;
    font-size: 12px;
}

/* TABS */

#tabs{
    direction: ltr;
    list-style-type:none ;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#tabs img{
    width: 64px;
    height: 64px;
    margin: 0px 10px 0px 10px;
}
.tab a{
    text-decoration: none;
    display: flex;
    flex-direction: row;
}
.tab.active a h3{
    font-size: 48px;
    color: #E2E2E2;
    margin: 0px;
    margin-top: 5px;
    font-weight: normal;
}


/* HEADER */

#header{
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-column-gap: 200px;
    margin: 30px;
    align-items: center;
    justify-content: space-between;
}



/* INPUT */
#form{
    background-color: #1e1e1e;
    border-radius: 16px;
    width: 700px;
    height: 400px;
    align-self: center;
    justify-self: center;
}
.input_style {
    height: 40px;
    width: 300px;
    font-size: 20px;
    appearance: none;
    border: none;
    outline: none;
    border-bottom: .2em solid rgb(255, 255, 255);
    background: rgba(0,0,0,0);
    border-radius: 10px 10px 0 0;
    padding: .4em;
    color: rgb(255, 255, 255);
}
#form.notLogged{
    text-align: center;
    display: flex;
    flex-direction: column;
}
#form.notLogged form{
    display: flex;
    height: 60%;
    width: 100%;
    flex-direction: row;
    align-items: end;
    justify-content: center;
    gap: 20px;
}
#form.notLogged form span{
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#form form .button{
    margin-top: 5px;
    border: solid #f2c70d 5px;
    border-radius: 35px; 
    background-color: transparent;
    height: 40px;
    width: 85px;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
}
#form form .button.b{
    background-color: transparent;
    color: #E2E2E2;
}
#form form .button.f{
    background-color: #f2c70d;
    color: #1e1e1e;
}
#form form .button.l{
    width: 150px;
}
#form h4{
    color: #f2c70d;
}
#form.logged.C{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 30px;
    width: 640px;
    height: 340px;
}
#form.logged.A{
    display: grid;
    grid-template-rows: 1fr 4.5fr 3fr 1.5fr;
    grid-template-columns: 1fr;
    grid-template-areas: 'hello' 'stats' 'pass' 'out';
}
#form.logged.A #hello{
    grid-area: hello;
    padding: 0 5%;
}
#form.logged.A #pass{
    grid-area: pass;
    padding: 0 5%;
}
#form.logged.A #stats{
    grid-area: stats;
    padding: 0 5%;
}
#form.logged.A #stats{
    color: #E2E2E2;
}
#form.logged.A #out{
    display: flex;
    justify-content: right;
    grid-area: out;
    padding: 0 10%;
}
#form form .text{
    background-color: transparent;
    color: #C2C2C2;
    padding: 0;
    margin: 0;
    border: 0;
    text-decoration: underline;
    cursor: pointer;
    margin-bottom: 10px;
}
.change{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
.change span{
    display: flex;
    flex-direction: column;
}
.change span.horizontal{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    width: 50%;
}
/* Calendar */
#calendar{
    overflow-y: auto;
    text-align: center;
}
table{
    display: flex;
    justify-content: center;
}

td{
    vertical-align: top;
    padding: 0;
    background-color: #1e1e1e;
    width: 220px;
    height: 300px;
    border: 5px solid #2E2E2E;
    position: relative;
    border-radius: 10px;
}
td h4.sunday{
    color: red;
}
td h4{
    margin: 10px 10px 0 10px;
    color: #E2E2E2;
    font-weight: bold;
    font-size: 64px;
    position: relative;
    top: 0px;
    width: 50%;
    aspect-ratio: 2/1;

}

#calendar::-webkit-scrollbar {
    width: 12px;
}

#calendar::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #1e1e1e;
}

#calendar::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #f2c70d;
}



/* Calendar Event on day */
.event {
    position: absolute;
    bottom: 0px;
    width: 210px;
    margin: 0 5px 30px 5px;
}
.event hr{
    height: 5px;
    width: 100%;
    border: 0;
}
.event span{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.event span h5{
    margin:5px 0 0 0;
    color: #E2E2E2;
    font-size: 20px;
}
.timeContainer .top{
    font-size: 10px;
}
#calendar .comm{
    font-size: 48px;
    color: #f2c70d;
    font-weight: bold;
}
.today{
    background-color: #f2c70d;
    border-radius: 100px;

}

.redirect{    
    background-color: #f2c70d;
    color: #1e1e1e;
    margin-top: 5px;
    border: solid #f2c70d 5px;
    border-radius: 35px; 
    height: 40px;
    width: 85px;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
}

/* homepage */

#home{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#events {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
#events:only-child{
    grid-column:1 / span 2;
}
#events .eventW{
    width: 80%;
    background-color: #1e1e1e;
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    padding: 0 20px;
}
#events .eventW span{
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#events .eventW form{
    width: 30%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}

#featured{
    background-color: #1e1e1e;
    width: 520px;
    height: 560px;
    justify-self: center;
    border-radius: 16px;
}

/* alert */

.alert{
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 100px;
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: #f2c70d 5px solid;
    background-color: #1e1e1e;
}
.alert span{
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    cursor: pointer;
}
















form .button{
    margin-top: 5px;
    border: solid #f2c70d 5px;
    border-radius: 35px; 
    background-color: transparent;
    height: 40px;
    width: 85px;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
}
form .button.b{
    background-color: transparent;
    color: #E2E2E2;
}
form .button.f{
    background-color: #f2c70d;
    color: #1e1e1e;
}
form .button.l{
    width: 150px;
}